[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js, ts, tsx, jsx}]
ident_style = space
ident_size = 2

[Makefile]
ident_style = tab

[*.yml]
indent_size = 2
indent_style = space
